
body {
    text-align: center;
    background-image: url("./image/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh; 
    color: white;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

h3 {
    font-size: 35px;
}

p {
    font-size: 30px;
}

li {
    font-size: 30px;
}